<div class="flex flex-col  m-[5%] space-y-[5%] max-w-[20%] " >
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" >
        <input type="text" placeholder="title" class="border rounded border-gray-300 hover:border-gray-600" formControlName="title" >
        <input type="text" placeholder="text" class="border rounded border-gray-300 hover:border-gray-600" formControlName="text" >
        <br>
        <input type="submit" value="submit post" class="border rounded border-gray-300 hover:border-gray-600 max-w-[25%] p-[2%]" [disabled]="!createPostForm.valid" >
    </form>
</div>


<p> so far the form is {{createPostForm.status}}</p>

<a routerLink="/" > GO BACK  </a>