<div class="flex flex-col  py-[20%] sm:py-[10%] 2xl:py-[5%]" >
    <h1 class="text-xl"> submit a post </h1>
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" class="space-y-[2%] py-[1%]" >
        <input type="text" placeholder="title" class="border rounded border-gray-300 hover:border-gray-600" formControlName="title" >
        <br>
        <input type="text" placeholder="text" class="border rounded border-gray-300 hover:border-gray-600" formControlName="text" >
        <br>
        <input *ngIf="createPostForm.valid" type="submit" value="submit post" class="border rounded border-gray-400 bg-white hover:border-gray-600 max-w-[25%]" [disabled]="!createPostForm.valid" >
        <input *ngIf="!createPostForm.valid" type="submit" value="submit post" class="border rounded border-gray-300 hover:border-gray-600 bg-white min-w-[10%] opacity-50" [disabled]="!createPostForm.valid" >
        <br>
        <button routerLink="" routerLinkActive="active" class=" border rounded border-gray-300 hover:border-gray-600 bg-white min-w-[10%] " > go Back </button>
    </form>
</div>
