<div *ngIf="!loggedIn">
    <input type="text" class="min-w-[30%] rounded border-gray-300 hover:border-gray-600" placeholder="log in to submit a post..."> 
</div>
<div *ngIf="loggedIn" >
    <input type="text" class="min-w-[30%] rounded border-gray-300 hover:border-gray-600" placeholder="post something...">
</div>


<div *ngFor="let post of posts" class="flex flex-col items-center">
    <a [routerLink]="['/post', post.id]">    
    <div class="min-w-[30%] mt-[3%]  overflow-hidden border border-gray-300 rounded hover:border-gray-600">
            <div class="space-x-[2%]">
                <div class="flex flex-row space-x-[2%] text-slate-400 ">
                    <p>posted by {{post.op}}</p> <p>{{ post.created_on }} </p>
                </div>
                <div class="">
                    <h2 class="mb-2 text-xl font-semibold text-left "> {{post.title}} </h2>
                    <p class="text-left" > {{post.text}} </p>
                </div>
        </div>
    </div>
    </a>
</div>


<div *ngIf="!posts" >
    <h1> Nothing to see... </h1>
</div>