<nav *ngIf="!storageService.isLoggedIn()"   class="flex flex-row space-x-[10%] items-center ">
    <a routerLink="/" routerLinkActive="active" > logo </a>
    <a > search bar </a>
    <a routerLink="/login" routerLinkActive="active"> Log in </a>
</nav>

<nav *ngIf="storageService.isLoggedIn()" class="flex flex-row space-x-[10%] items-center ">
    <a routerLink="/" routerLinkActive="active" > logo </a>
    <a > search bar </a>
    <a (click)="storageService.clean()"  routerLinkActive="active"> Log out </a>
</nav>
