<div class="flex flex-col m-[5%] space-y-[5%] max-w-[20%]">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <input type="email" id="email" placeholder="enter email" class="border rounded border-gray-300 hover:border-gray-600" formControlName="email" required>
        <input type="text" placeholder="enter name" class="border rounded border-gray-300 hover:border-gray-600" formControlName="name">
        <input type="text" placeholder="enter username" class="border rounded border-gray-300 hover:border-gray-600" formControlName="username" >
        <input type="password" placeholder="enter password" class="border rounded border-gray-300 hover:border-gray-600" formControlName="password" >
        <input type="password" placeholder="confirm password" class="border rounded border-gray-300 hover:border-gray-600" formControlName="password2" >
    <br>
        <input type="submit" value="sign up" class="border rounded border-gray-300 hover:border-gray-600 max-w-[25%] p-[2%]" [disabled]="!registerForm.valid" >
    </form>
    
    <p> {{"so far the form is " + registerForm.status}}</p>
</div>